//- Page body
.row.main-body
    //- statistics container
    .col-lg-4
        #analytics-basic-statistics
            .box-body
                table
                    tr
                        th Statistics
                        th Value
                    tr
                        td Job Posts
                        td
                            #infoStatJobPosts
                    tr
                        td Locations
                        td
                           #infoStatLocations
                    tr
                        td Skills
                        td
                            #infoStatSkills
        #query-container
        #info-container

    //- Map container
    .col-lg-8
        .map
            #map-load-container
                .map-load-inner
                    label ●
                    label ●
                    label ●
                    label ●
                    label ●
            #map-container
                #zoom-container-map
                    span.glyphicon.glyphicon-zoom-in(aria-hidden="true")
            #timeline-container

//- analytics container
.analytics-container
    .row
        .col-lg-12
            h2.center TRENDS
            .row
                .col-lg-12
                    #analytics-chart-jobs-by-dates
            .row.empty
            .row
                .col-lg-12
                    #analytics-chart-skills-by-frequency
            .row.empty
            .row
                .col-lg-12
                    #analytics-chart-location-by-frequency
            .row.empty
