//- analytics container
.analytics-container
    .row
        .col-lg-12
            h2.center TRENDS
            .row
                .col-lg-12
                    #analytics-chart-jobs-by-dates
            .row.empty
            .row
                .col-lg-12
                    #analytics-chart-skills-by-frequency
            .row.empty
            .row
                .col-lg-12
                    #analytics-chart-location-by-frequency
            .row.empty
            .row
                .col-lg-12
                    #analytics-chart-countries-by-frequency
            .row.empty
