//- d3js
script(src="js/graphs/europeMap.js")
script(src="js/graphs/histogram.js")
script(src="js/graphs/lineplot.js")
script(src="js/graphs/piechart.js")
script(src="js/graphCreation.js")
script(src="js/mapCreation.js")

script(src="js/autocomplete.js")

script(src="js/dataLoadSearch/load.js")
script(src="js/dataLoadSearch/searchOptions.js")
script(src="js/dataLoadSearch/loadPolicyMakers.js")
script(src="js/dataLoadSearch/searchPolicyMakers.js")
