//- Scripts
script(src="components/jquery/dist/jquery.min.js")
script(src="components/bootstrap/dist/js/bootstrap.min.js")
script(src="components/typeahead.js/dist/typeahead.bundle.js")
script(src="components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")

//- d3js
script(src="components/d3/d3.min.js")
script(src="js/ext/d3-quadtree.v1.min.js")
script(src="js/ext/d3-tip.js")
script(src="js/ext/d3.geo.projection.v0.min.js")
script(src="js/ext/topojson.min.js")

script(src="js/graphs/europeMap.js")
script(src="js/graphs/histogram.js")
script(src="js/graphs/lineplot.js")
script(src="js/graphs/piechart.js")
script(src="js/graphCreation.js")
script(src="js/mapCreation.js")

script(src="js/autocomplete.js")
script(src="js/searchOptions.js")

script(src="js/dataLoadSearch/load.js")
script(src="js/dataLoadSearch/loadPolicyMakers.js")
script(src="js/dataLoadSearch/searchPolicyMakers.js")
