/******************************
 * Containers
 */

#aboutEdsaDashboard {
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    height: 100%;
}

#followUs {
    float: right;
}
#followUs a {
    margin-right: 5px;
}

#info-container,
#cluster-info-container {
    overflow: auto;
    width: auto;
    height: auto;

    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

#info-container {
    max-height: 200px;
}

#cluster-info-container {
    max-height: 410px;
    height: 410px;
}

.map {
    width: 100%;
    height: 700px;
    background: white;
    border-radius: 3px;
}

#map-container {
    width: 100%;
    height: 600px;
    padding: 10px;
    background: white;
    border-radius: 3px;
}

#load-container {
    position: absolute;
    background: white;
    padding: 0px;
    opacity: .0;
    z-index: -1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
    #load-container.loading {
        z-index: 100;
        opacity: .75;
    }

#timeline-container {
    width: 100%;
    height: 100px;
    padding: 10px;
}

#query-container {
    width: 100%;
    color: #FFFFFF !important;
    padding-top:    5px;
    padding-bottom: 10px;
}

/********************************
 * Job Statistics Containers
 */

#analytics-basic-statistics {
    position: relative;
    padding-bottom: 10px;
}

#analytics-chart-jobs-by-dates,
#analytics-chart-skills-by-frequency,
#analytics-chart-location-by-frequency,
#analytics-chart-countries-by-frequency,
#analytics-chart-jobs-by-dates-piechart {
    height: 400px;
    background-color: #FFFFFF;
}

/********************************
 * Tables and Job Search containers
 */

 .job-recommendation,
 .material-recommendation {
     background-color: #FFFFFF;
     border-radius: 5px;
     margin: 0px;
 }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(even){
    background-color: #FFFFFF
}

th {
    background-color: #730100;
    color: white;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #730100;
    border-color:     #730100;
    outline-color:    #730100 !important;

}

.pagination>li>a,
.pagination>li>span {
    color: #730100;
}

.dataTables_wrapper tbody tr.odd:hover {
    background-color: #DDDCDC;
}
.dataTables_wrapper tbody tr.even:hover {
    background-color: #E7E7E7;
}
.dataTables_wrapper tbody tr.odd {
    background-color: #f2f2f2;
}
