//- Scripts
script(src="components/jquery/dist/jquery.min.js")
script(src="components/bootstrap/dist/js/bootstrap.min.js")
script(src="components/typeahead.js/dist/typeahead.bundle.js")
script(src="components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")
script(src="components/datatables/media/js/jquery.dataTables.js")

//- d3js
script(src="components/d3/d3.min.js")
script(src="js/ext/d3-quadtree.v1.min.js")
script(src="js/ext/d3-tip.js")
script(src="js/ext/d3.geo.projection.v0.min.js")
script(src="js/ext/topojson.min.js")

script(src="js/graphs/europeMap.js")
script(src="js/graph_creation.js")
script(src="js/map_creation.js")

script(src="js/autocomplete.js")
script(src="js/options.js")
    
script(src="js/dataLoadSearch/load.js")
script(src="js/dataLoadSearch/loadJobSeekers.js")
script(src="js/dataLoadSearch/searchJobSeekers.js")