//- d3js
script(src="js/graphs/europeMap.js")
script(src="js/mapCreation.js")

script(src="js/autocomplete.js")
    
script(src="js/dataLoadSearch/load.js")
script(src="js/dataLoadSearch/searchOptions.js")
script(src="js/dataLoadSearch/loadJobSeekers.js")
script(src="js/dataLoadSearch/searchJobSeekers.js")

script(src="js/download/saveSvgAsPng.js")
script(src="js/download/pictureSave.js")
