//- analytics container
.analytics-container
    #jobseekers-info
        .row.job-recommendation
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h4 MOST RECENT JOBS
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        #jobseekers-top-jobs(style="width: 100%; height: 400px; margin: 0 auto;")
                            table#top-jobs.display(cellspacing="0")
                                thead
                                    tr
                                        th Job Title
                                        th Posting Date
                                        th Hiring Organization
                                        th Skills
                                        th Location
                                        th Country

        .row.empty
        .row.material-recommendation
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h4 SUGGESTED VIDEOLECTURES MATERIAL
                .row
                    .col-lg-12
                        #jobseekers-suggested-materials(style="width: 100%; height: 600px; margin: 0 auto;")
                            table#suggested-materials.display(style="width: 100%; height: 100%;" cellpadding="0" cellspacing="0" border="0")
                                thead
                                    tr
                                        th Lecture Title
                                        th Lecture Description
                                        th Lecture Url
                                        th Date
                                tbody
                                    tr
                                        td 3rd Annual European Semantic Web Conference (ESWC), Budva 2006
                                        td Topics of interest to the conference include (but are not restricted to): Ontology Management (e.g. creation, evolution, evaluation) Ontology Alignment (e.g. mapping, matching, merging, mediation and reconciliation) Ontology Learning and Metadata Generation (including e.g. HLT and ML approaches) Multimedia and Semantic Web Semantic Annotation of Data Semantic Web Trust, Privacy, Security and Intellectual Property Rights Semantic Web Rules and Query Languages Reasoning on the Web (e.g. scalability, fuzziness, distribution) Searching, Querying, Visualizing, Navigating and Browsing the Semantic Web Personalization and User Modelling User Interfaces and Semantic Web Semantic Grid and Middleware Semantic Web Services (e.g. description, discovery, invocation, composition) Semantic Web-based Knowledge Management (e.g. Semantic Desktop, Knowledge Portals) Semantic Web for e-Business, e-Culture, e-Government, e-Health, e-Learning, e-Science Database Technologies for the Semantic Web Data Semantics and Web Semantics Semantic Interoperability Semantic Web Mining.
                                        td eswc06_budva
                                        td recorded
        .row.empty
