/*********************************
 * Map
 */

#map-europe {
    z-index: 1;
}

#map-europe .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

#map-europe .country {
    fill: #BDD09F;
    stroke: white;
    stroke-width: 0.5px;
}

    #map-europe .country.notvisible {
        stroke: #777;
        stroke-width: 0.5px;
        stroke-dasharray: 2, 4;
        pointer-events: none;
    }

#map-europe .notvisible {
    fill: none;
}

#map-europe .country-label {
    fill: #493829;
    fill-opacity: .5;
    font-size: 10px;
    font-weight: 300;
    text-anchor: middle;
}

#map-europe .city {
    fill: white;
    stroke: black;
    stroke-width: .5px;
    display: none;
}

#map-europe .city-label {
    font-size: 3px;
    display: none;
}

#map-europe path {
    fill: none;
}

#map-europe text,
#map-europe .city,
#map-europe .graticule {
    pointer-events: none;
}

/*********************************
* Clusters
*/

#map-europe .jobCluster {
    fill: #730100;
    fill-opacity: .75;
}

    #map-europe .jobCluster:hover {
        fill: #290000;
    }

/********************************
 * Timescroll
 */

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.brush .extent {
    stroke:  #021F06;
    stroke-opacity: .30;
    fill:    #021F06;
    fill-opacity: .50;
}

.resize path {
    fill: #021F06;
    fill-opacity: .60;
}

/********************************
 * Graph-Tooltip
 */

.graph-tooltip {
    font: 12px sans-serif;
    position: absolute;
    color: black;
    height: auto;
    width: 250px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #6A6565;
    border-radius: 5px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    pointer-events: none;
}

.tooltip {
    font-size: 10px;
}
